<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
    <supportedRuntime version="v4.0"/>
  </startup>
  <appSettings>
    <add key="Extensions" value=".prpt;.prpti"/>
    <add key="Executable" value="report-designer.bat"/>
    <add key="JavaVersion" value="1.6"/>
    <add key="FixJavaHome" value="True"/>
    <add key="ProgramId" value="PentahoReportDesigner"/>
    <add key="AutoRepair" value="True"/>
    <add key="LauncherArguments" value=" &quot;%1&quot;"/>
  </appSettings>
</configuration>
